* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
}

.container {
    width: fit-content;
    max-width: 600px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}
.form-row {
    display: flex;
    align-items: center; /* Đảm bảo label và input cùng chiều cao */
    margin-bottom: 10px;
}
label {
    display: inline-block; /* Căn trái cho label */
    width: 150px; /* Đặt chiều rộng cố định cho label */
    font-weight: bold;
}
input[type="email"],
input[type="text"],
input[type="number"],
select,
textarea {
    width: calc(100% - 160px); /* Đảm bảo input chiếm phần còn lại của dòng */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="date"] {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.action-button {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

button {
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="button"] {
    background-color: #e74c3c;
}

button[type="submit"] {
    background-color: #3498db;
}

button:hover {
    opacity: 0.8;
}
