<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/signup.js" defer></script>
    <script>
        function handleLogin(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            fakeLoginAPI(username, password)
                .then(isAuthenticated => {
                    if (isAuthenticated) {
                        window.location.href = 'Dashboard.html';
                    } else {
                        alert('Đăng nhập không thành công. Vui lòng kiểm tra lại thông tin.');
                    }
                });
        }

        function fakeLoginAPI(username, password) {
            return new Promise((resolve) => {
                setTimeout(() => {
                    if (username === 'admin' && password === 'password') {
                        resolve(true);
                    } else {
                        resolve(false);
                    }
                }, 1000);
            });
        }
    </script>
</head>
<body>
<section>
    <form onsubmit="handleLogin(event)">
        <h1>Login</h1>
        <div class="dialog-row">
            <label class="text-center redText" id="error-message"></label>
        </div>
        <div class="inputbox">
            <ion-icon name="email-outline"></ion-icon>
            <input name="username" id="username" type="text" required>
            <label for="username">Username</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input name="password" type="password" id="password" required>
            <label for="password">Password</label>
        </div>
        <div class="register">
            <p><a href="#">Forget Password?</a></p>
        </div>
        <button type="submit">Log in</button>
        <div class="register">
            <p>Don't have an account?<a href="/req/signup"> Register!!</a></p>
        </div>
    </form>
</section>
</body>
</html>
