<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="navbar">
    <h1>School Management System</h1>
    <div class="user-info" onclick="toggleDropdown()">
        <img src="https://via.placeholder.com/35" alt="User Avatar">
        <span>username</span>
    </div>
    <div id="dropdown-menu" class="dropdown-menu">
        <a href="Profile.html">Profile</a>
        <a href="#" onclick="logout()">Logout</a>
    </div>
</div>

<div class="container">
    <h2>Update Student</h2>
    <form th:action="@{/Teachers/save}" th:object="${teacherDto}" method="POST">
        <label for="id">ID</label>
        <input type="text" id="id" th:field="*{id}" required>

        <label for="firstName">Major Name</label>
        <input type="text" id="firstName" th:field="*{firstName}" required>

        <label for="lastName">Description</label>
        <input type="text" id="lastName" th:field="*{lastName}" required>

        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{email}" required>

        <label for="phoneNumber">Description</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required>

        <label for="departmentId">Department</label>
        <select id="departmentId" th:field="*{departmentId}" required>
            <option th:each="dp : ${departments}" th:value="${dp.id}" th:text="${dp.departmentName}"
                    th:selected="${teacher.department.id == dp.id}"></option>
        </select>

        <div class="action-button">
            <button type="button" onclick="window.location.href='/Students'">Cancel</button>
            <button type="submit">Update</button>
        </div>
    </form>
</div>
</body>
</html>
