<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Class</title>
  <link rel="stylesheet" href="/css/updateform.css">
</head>
<body>

<div class="container">
  <h2>Update Class</h2>
  <form th:action="@{/SchoolClass/save}" th:object="${schoolClass}" method="POST">
    <label for="id">ID</label>
    <input type="text" id="id" th:field="*{id}" required>

    <label for="className">Class Name</label>
    <input type="text" id="className" th:field="*{className}" required>

    <label for="classDescription">Description</label>
    <textarea id="classDescription" th:field="*{classDescription}" required></textarea>

    <div class="action-button">
      <button type="button" onclick="window.location.href='/Classes'">Back</button>
      <button type="submit">Update</button>
    </div>
  </form>
</div>

<script src="/js/classes.js" defer></script>
</body>
</html>
