<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Course Schedule</title>
    <link rel="stylesheet" href="/css/updateform.css">
</head>
<body>
<div class="container">
    <h2>Update Course Schedule</h2>
    <form th:action="@{/CourseSchedule/save}" th:object="${courseScheduleDto}" method="POST">
        <label for="id">ID</label>
        <input type="text" id="id" th:field="*{id}" required>

        <label for="courseId">Course</label>
        <select id="courseId" th:field="*{courseId}" required>
            <option th:each="co : ${courses}" th:value="${co.id}" th:text="${co.courseName}"
                    th:selected="${courseSchedule.course?.id == co.id}"></option>
        </select>

        <label for="dayOfWeek">Day of Week</label>
        <input type="text" id="dayOfWeek" th:field="*{dayOfWeek}" required>

        <label for="startTime">Start Time</label>
        <input type="text" id="startTime" th:field="*{startTime}" required>

        <label for="endTime">End Time</label>
        <input type="text" id="endTime" th:field="*{endTime}" required>

        <label for="classroomId">Classroom</label>
        <select id="classroomId" th:field="*{classroomId}" required>
            <option th:each="clr : ${classrooms}" th:value="${clr.id}" th:text="${clr.id}"
                    th:selected="${courseSchedule.classroom?.id == clr.id}"></option>
        </select>

        <div class="action-button">
            <button type="button" onclick="window.location.href='/CourseSchedule'">Cancel</button>
            <button type="submit">Update</button>
        </div>
    </form>
</div>
</body>
<script src = "/js/courseschedule.js"defer></script>

</html>
