<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Class</title>
    <link rel="stylesheet" href="/css/updateform.css">
</head>
<body>

<div class="container">
    <h2>Update Class</h2>
    <form th:action="@{/Department/save}" th:object="${department}" method="POST">
        <label for="id">ID</label>
        <input type="text" id="id" th:field="*{id}" required>

        <label for="departmentName">Department Name</label>
        <input type="text" id="departmentName" th:field="*{departmentName}" required>

        <label for="location">Location</label>
        <textarea id="location" th:field="*{location}" required></textarea>

        <div class="action-button">
            <button type="button" onclick="window.location.href='/Department'">Cancel</button>
            <button type="submit">Update</button>
        </div>
    </form>
</div>
</body>
<script src = "/js/department.js" defer></script>

</html>
